:root {
    --first-color:rgba(255, 255, 255, 0.7);
}
body {
    background-color: rgb(210, 210, 210);
}
.Weather {
    display: flex;
    text-align: center;
    width: 80%;
    height: 650px;
    margin: 150px auto;
    border-radius: 30px;
    box-shadow: 64px 27px 100px 41px rgba(0, 0, 0, 0.4);
    background-color: white;
}
@media (max-width: 1300px) {
    .Weather {
        width: 90%;
        height: 100%;
        margin-top: 70px;   
    }
}
@media (max-width: 500px) {
    .Weather {
        margin-top: 50px;
    }
}