:root {
    --first-color:rgba(255, 255, 255, 0.7);
}
body {
    background-color: rgb(210, 210, 210);
}
.Weather {
    display: flex;
    text-align: center;
    width: 80%;
    height: 650px;
    margin: 150px auto;
    border-radius: 30px;
    box-shadow: 64px 27px 100px 41px rgba(0, 0, 0, 0.4);
    background-color: white;
}