.all {
    display: flex;
    width: 100%;
}
.Search {
    height: 650px;
    width: 80%;
    border-radius: 30px;
    background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg");
}
#header {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--first-color);
    font-family: sans-serif;
    margin-top: 270px;
    font-family: 'Montserrat', sans-serif;
}
.form {
    display: flex;
}
#search-form {
    margin: 0 20px 0 150px;
    display: flex;
    padding: 0 15px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    border: none;
    outline: none; 
}
.search-input {
    height: 40px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 7px;
    color: var(--first-color);
    border: none;
    outline: none; 
    font-size: 12px;
}
.search-input::placeholder {
    color: var(--first-color);
    font-family: 'Montserrat', sans-serif;
}
.search-btn {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--first-color);
    border: none;
}
#search-icon {
    font-size: 14px;
}
.current-loc-btn {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--first-color);
    border: none;
}
#search-loc-icon {
    font-size: 20px;
}
.Info {
    width: 40%;
    font-family: 'Montserrat', sans-serif;}
.time {
    display: flex;
}
