.current-location {
    width: 40%;
    margin: 10px auto 0 200px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
    color: var(--first-color);
}
.loc-icon {
    padding: 8px;
    margin: 8px;
}
.loc-text {
    display: flex;
    font-size: 20px;
    font-family: sans-serif;
}
#location-icon {
    font-size: 24px;
}
